<nav class='navbar navbar-expand-lg bg-body-tertiary'>
    <div class='container'>
        <a class='navbar-brand' href='/'>F8 Education</a>
        <button
            class='navbar-toggler'
            type='button'
            data-bs-toggle='collapse'
            data-bs-target='#navbarSupportedContent'
            aria-controls='navbarSupportedContent'
            aria-expanded='false'
            aria-label='Toggle navigation'
        >
            <span class='navbar-toggler-icon'></span>
        </button>

        <div class='collapse navbar-collapse' id='navbarSupportedContent'>
            <ul class='navbar-nav ms-auto mb-2 mb-lg-0'>
                <li class='nav-item dropdown'>
                    <a
                        class='nav-link dropdown-toggle'
                        href='#'
                        role='button'
                        data-bs-toggle='dropdown'
                        aria-expanded='false'
                    >
                        <img
                            src='https://scontent.fsgn8-4.fna.fbcdn.net/v/t39.30808-1/499791792_2144076686066278_7907917223328769066_n.jpg?stp=dst-jpg_s160x160_tt6&_nc_cat=103&ccb=1-7&_nc_sid=e99d92&_nc_eui2=AeHCHt7ACwjvlLYtDy0yJhH1I6C5pi40K8sjoLmmLjQry929sUYgTh3XoVK66E7SfoUExvsQJW3VNI0XzMcHgNdt&_nc_ohc=5lU9jetR69oQ7kNvwGz2e1S&_nc_oc=AdmGIsyAP1-mY2rJLAyX3ukQAodCEwRtDJM1nF946sPQyxoFjO4G20CvPbEF6diCb2E&_nc_zt=24&_nc_ht=scontent.fsgn8-4.fna&_nc_gid=DPM6-9q-6PixrehRxFbXvQ&oh=00_AfNUwYsk2Yp9zTgwqwfOBS9DOWOFPtSDBlHKuIWWGjWuEg&oe=684991BB'
                            alt=''
                            class='user-avatar'
                        />
                        Đại Thiện
                    </a>
                    <ul class='dropdown-menu'>
                        <li><a class='dropdown-item' href='/courses/create'>Đăng khóa học</a></li>
                        <li><hr class='dropdown-divider' /></li>
                        <li><a class='dropdown-item' href='/me/stored/courses'>Khóa học của tôi</a></li>
                        <li><hr class='dropdown-divider' /></li>
                        <li><a class='dropdown-item' href='/me/stored/news'>Bài viết của tôi</a></li>
                        <li><hr class='dropdown-divider' /></li>
                        <li><a class='dropdown-item' href='#'>Đăng xuất</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>