<div class='mt-4'>
    <form method='POST' action=''>
        <div class='mb-3'>
            <label for='search-input' class='form-label'>Tìm Kiếm</label>
            <input
                type='text'
                name='q'
                class='form-control'
                id='search-input'
                placeholder='Nhập từ khóa tìm kiếm'
            />
        </div>

        <div class='mb-3'>
            <label for='gender-input' class='form-label'>Tìm Kiếm</label>
            <select name='gender' class='form-control' id='gender-input'>
                <option value=''>--Chọn giá trị--</option>
                <option value='male'>Name</option>
                <option value='female'>Nữ</option>
            </select>
        </div>

        <button type='submit' class='btn btn-primary'>Tìm Kiếm</button>
    </form>
</div>